= image_tag @recipe.image.url(:medium), class: "trip_image"
%h1 = @trip.title
%p = @trip.description

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_trip_path, class: "btn btn-default"
= link_to "Delete", trip_path, method: :delete data: {confirm: "Are you sure?"}, class: "btn btn-default"