/ Page Header
/ Set your background image for this header on the line below.
/ %header.intro-header{:style => "background-image: linear-gradient(\n                                      rgba(0, 0, 0, 0.45), \n                                      rgba(0, 0, 0, 0.45)\n                                    ),\n                 url('https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d')"}
/   .container
/     .row
/       .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
/         .site-heading
/           %h1
/             %br About Me
/           %hr.small
/             %span.subheading The Junior Developer
/ Main Content
.container
  .row
    .col-lg-6.col-md-6
      %br
        %img.img-circle{:alt => "Profile picture", :height => "236", :src => "https://scontent-kul1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/p480x480/10295686_10202105973226963_96821522886470599_n.jpg?oh=d8966aeba369ba0cc712ea4f3235a34f&oe=56217833", :width => "304"}
    .col-lg-6.col-md-6.pull-right
      .resume2
        %h1.post-title
          About
          %small Me
        %hr
          %p My name is Wan Ahmad Faris.
          %p Bachelor of Computer Science, Specialization in Software Engineering.
          %p Multimedia University, Cyberjaya Campus.
          %p Know more about me by clicking the link at the footer

        %h1.post-title
          About
          %small This App
        %hr
          %h2 Travel Ninja.
          %h3 Features
          %p Ability to login using devise gem
          %p Ability to login using facebook authentication
          %p Nested form using cocoon
          %p Seaching via search bar
          %p Seaching via category
          %p Link to external travel planner (I'm using Tourplus, it is a travel planner website)

          %h3 Bugs
          %p Cocoon nested form sometimes render partial file more than once
          
          %h3 Difficulties
          %p Doing this app from scratch again, as my group mates left me. Doing all of this alone. 

      %hr
%hr